.side-bar {
    width: auto;
}

.main {
    width: auto;
    max-width: 100%;
    margin-left: 248px;
}

.main-content-wrap {
    max-width: 75%;
    margin-left: 12.5%;
}

.search-input {
  color: #e6e1e8;
}
