@media (min-width: 66.5rem) {
  .side-bar {
    width: auto;
  }

  .main {
    width: auto;
    max-width: 100%;
    margin-left: 248px;
  }

  .main-content-wrap {
    --block-width: 65%;
    max-width: var(--block-width);
    margin-left: calc((100% - var(--block-width)) / 2);
  }
}

@media (max-width: 66.5rem) {
  .main-content {
    margin-left: 2%;
    margin-right: 2%;
  }
}

.search-input {
  color: #e6e1e8;
}
